# Eclipse
.classpath
.project
.settings
.metadata
bin/
/.recommenders/

# Idea
*.iml
/.idea/
/out/

# Gradle
/.gradle/
*/build/
gradle.properties


.DS_Store
.directory
*.log

*/.gnupg/

**/log/
*.l2j
**/hexid.txt
/build/